* {
  padding:0;
  margin:0;
}

html, body {
  height:100%;
  
  display:flex;
  flex-direction:column;
}

body > * {
  flex-shrink: 0;
}

body {
  margin: 0;
  font-family: monospace;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
canvas {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
}
h1 {
  font-weight: 4000;
  letter-spacing: 2px;
  font-size: 50px;
}

a {
  font-weight: 40000;
  letter-spacing: 2px;
  font-size: 30px;
}


.header {
  background: rgb(245, 245, 245,0);
  position: relative;
  text-align: center;
  color: black;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.ocean {
  background-color: rgb(85, 149, 176) ;
  flex-grow: 1;
}

/* Style the top navigation bar */
.topnav {
  background-color:whitesmoke;
  font-size: 30px;

  text-align: center;
  overflow: hidden;
  padding:32px 0;
  position: relative;
  top: 0;
  z-index: 99;
  
}

/* Style the topnav links */
.topnav a {
  padding: 20px;
  color: #000000;
  text-decoration: none;
   }

/* Change color on hover */
.topnav a:hover {
  color:#335C81;

}




/* /* Shrinking for mobile */
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  a{
    font-size: 15px;
  }
}




  