body { 
    background-color: whitesmoke;
    font-family: monospace;
    overflow-x: hidden;
    overflow-y: scroll;
  
  }
.hello {
    overflow: hidden;
    font-size: 10vw;
    text-align: center;
    height: 100%;
    padding-top: 25vw;
    padding-bottom: 25vw;



}
/* Style the top navigation bar */
.topnav {
    background-color:whitesmoke;
    font-size: 24px;
    text-align: center;
    overflow: hidden;
    padding:32px 0;
    position: relative;
    top: 0;
    z-index: 99;
    
  }
  
  /* Style the topnav links */
  .topnav a {
    padding: 20px;
    color: #000000;
    text-decoration: none;
     }
  
  /* Change color on hover */
  .topnav a:hover {
    color:#335C81;
  
  }