* {
  padding:0;
  margin:0;
}

html, body {
  height:100%;
  
  display:flex;
  flex-direction:column;
}

body > * {
  flex-shrink: 0;
}

body {
  margin: 0;
  font-family: monospace;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  font-weight: 40000;
  letter-spacing: 2px;
  font-size: 30px;
}

.wavetop {
  margin-bottom: -10px;
}

.content {
  background-color: #5595B0 ;
  display: flex;
  padding: 1vh 10% 1vh 10%;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}
.content a {
  padding: 10px;
  color:whitesmoke;
  text-decoration: none;
  font-size: x-large;
}

.item {
  color: whitesmoke;
  border-radius: 1rem;
  background-color: #4c869e;
  width: calc((100% / 4));
  padding: 2rem;
  text-align: center;
  flex-grow: 1;
}
.item:hover {
  background-color: hsl(198, 35%, 20%);
}

h1 {
  padding: 1vh;
}

.thesisresearch {
  font-size: x-large;
  color: whitesmoke;
  background-color: #4c869e;
  border-radius: 1rem;
  padding: 1rem;
}
.projecteuler {
  font-size: x-large;
  color: whitesmoke;
  background-color: #4c869e;
  border-radius: 1rem;
  padding: 1rem;
}

img {
  margin: auto;
  display: block;
  align-items: center;
  padding: 20px;
}


.ocean {
  background-color: #5595B0 ;
  flex-grow: 1;
}


/* Style the top navigation bar */
.topnav {
background-color:whitesmoke;
font-size: 30px;

text-align: center;
overflow: hidden;
padding:32px 0;
position: relative;
top: 0;
z-index: 99;

}

/* Style the topnav links */
.topnav a {
padding: 20px;
color: #000000;
text-decoration: none;
 }

/* Change color on hover */
.topnav a:hover {
color:#335C81;

}



/* /* Shrinking for mobile */
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  a{
    font-size: 15px;
  }
}




  