/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Apply a basic style */
body {
  background-image: url("sources/topomapblack.jpg");
  background-size: 100%;
  font-family: monospace, sans-serif;
  line-height: 1.6;
  padding: 15px;
}

header,
footer {
  color: #fff;
  padding: 10px 0;
  text-align: center;
  border-radius: 25px;
}

header ul,
footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

header a,
footer a {
  background: #333;
  color: lightgray;
  padding: 10px 30px;
  border-radius: 25px; /* Rounded corners */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

header a:hover,
footer a:hover {
  background-color: rgb(52, 79, 47); /* Darker shade on hover */
}

main {
  margin: 20px 0;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  header,
  footer {
    padding: 20px 0;
  }

  header ul,
  footer ul {
    gap: 10px;
  }

  header a,
  footer a {
    padding: 10px 15px;
  }
}
