html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #44778c;
    font-family: monospace;
}

body{
    position: relative;
}

h1 {
    border-radius: 25px;
    font-size: 24px;
    text-align: center;
    margin-top: 33vw;
    margin-bottom: 50vw;
    margin-left: 30vw;
    margin-right: 30vw;
    padding: 10px 0 10px 0;
    background-color: white;
    z-index: 30;
}

/* Style the top navigation bar */
.topnav {
    border-radius: 25px;
    background-color:whitesmoke;
    font-size: 24px;
    text-align: center;
    overflow: hidden;
    padding:32px 20px;
    margin: 0 50px;
    position: relative;
    top: 0;
    z-index: 99;
    
  }
  
  /* Style the topnav links */
  .topnav a {
    padding: 40px;
    color: #000000;
    text-decoration: none;
     }
  
  /* Change color on hover */
  .topnav a:hover {
    color:#335C81;
  
  }


.w {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

  }
  .overlay1 {
    z-index: 9;
    top: 250px
  }
  .overlay2 {
    z-index: 10;
    top: 500px
  }
  .overlay3 {
    z-index: 11;
    top: 750px
  }
  .overlay4 {
    z-index: 12;
    top: 1000px
  }
  



.waves {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 300px;
  }
  
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  
.parallax > use:nth-child(1) {animation-delay: -2s; animation-duration: 7s;}
.parallax > use:nth-child(2) {animation-delay: -3s;animation-duration: 10s; } 
.parallax > use:nth-child(3) {animation-delay: -4s;animation-duration: 13s;  }
.parallax > use:nth-child(4) {animation-delay: -5s;animation-duration: 20s;  }
.parallax > use:nth-child(5) {animation-delay: -7s;animation-duration: 12s;}
.parallax > use:nth-child(6) {animation-delay: -8s;animation-duration: 18s;}  
.parallax > use:nth-child(7) {animation-delay: -7s;animation-duration: 15s;}
.parallax > use:nth-child(8) {animation-delay: -8s;animation-duration: 5s;}  
.parallax > use:nth-child(9) {animation-delay: -9s;animation-duration: 14s;} 
.parallax > use:nth-child(10) {animation-delay: -7s;animation-duration: 12s;}
.parallax > use:nth-child(11) {animation-delay: -2s; animation-duration: 7s;}
.parallax > use:nth-child(12) {animation-delay: -3s;animation-duration: 10s; } 
.parallax > use:nth-child(13) {animation-delay: -4s;animation-duration: 13s;  }
.parallax > use:nth-child(14) {animation-delay: -5s;animation-duration: 20s;  }
.parallax > use:nth-child(15) {animation-delay: -7s;animation-duration: 12s;}
.parallax > use:nth-child(16) {animation-delay: -8s;animation-duration: 18s;}  
.parallax > use:nth-child(17) {animation-delay: -7s;animation-duration: 15s;}
.parallax > use:nth-child(18) {animation-delay: -8s;animation-duration: 5s;}  
.parallax > use:nth-child(19) {animation-delay: -9s;animation-duration: 14s;} 
.parallax > use:nth-child(20) {animation-delay: -7s;animation-duration: 12s;}
.parallax > use:nth-child(21) {animation-delay: -2s; animation-duration: 7s;}
.parallax > use:nth-child(22) {animation-delay: -3s;animation-duration: 10s; } 
.parallax > use:nth-child(23) {animation-delay: -4s;animation-duration: 13s;  }
.parallax > use:nth-child(24) {animation-delay: -5s;animation-duration: 20s;  }
.parallax > use:nth-child(25) {animation-delay: -7s;animation-duration: 12s;}
.parallax > use:nth-child(26) {animation-delay: -8s;animation-duration: 18s;}  
.parallax > use:nth-child(27) {animation-delay: -7s;animation-duration: 15s;}
.parallax > use:nth-child(28) {animation-delay: -8s;animation-duration: 5s;}  
.parallax > use:nth-child(29) {animation-delay: -9s;animation-duration: 14s;} 
.parallax > use:nth-child(30) {animation-delay: -7s;animation-duration: 12s;}
.parallax > use:nth-child(31) {animation-delay: -2s; animation-duration: 7s;}
.parallax > use:nth-child(32) {animation-delay: -3s;animation-duration: 10s; } 
.parallax > use:nth-child(33) {animation-delay: -4s;animation-duration: 13s;  }
.parallax > use:nth-child(34) {animation-delay: -5s;animation-duration: 20s;  }
.parallax > use:nth-child(35) {animation-delay: -7s;animation-duration: 12s;}
.parallax > use:nth-child(36) {animation-delay: -8s;animation-duration: 18s;}  
.parallax > use:nth-child(37) {animation-delay: -7s;animation-duration: 15s;}
.parallax > use:nth-child(38) {animation-delay: -8s;animation-duration: 5s;}  
.parallax > use:nth-child(39) {animation-delay: -9s;animation-duration: 14s;} 
.parallax > use:nth-child(40) {animation-delay: -8s;animation-duration: 5s;}  
.parallax > use:nth-child(41) {animation-delay: -2s; animation-duration: 7s;}
.parallax > use:nth-child(42) {animation-delay: -3s;animation-duration: 10s; } 
.parallax > use:nth-child(43) {animation-delay: -4s;animation-duration: 13s;  }
.parallax > use:nth-child(44) {animation-delay: -5s;animation-duration: 20s;  }
.parallax > use:nth-child(45) {animation-delay: -7s;animation-duration: 12s;}
.parallax > use:nth-child(46) {animation-delay: -8s;animation-duration: 18s;}  
.parallax > use:nth-child(47) {animation-delay: -7s;animation-duration: 15s;}
.parallax > use:nth-child(48) {animation-delay: -8s;animation-duration: 5s;}  
.parallax > use:nth-child(49) {animation-delay: -9s;animation-duration: 14s;} 
.parallax > use:nth-child(50) {animation-delay: -7s;animation-duration: 12s;}
.parallax > use:nth-child(51) {animation-delay: -2s; animation-duration: 7s;}
.parallax > use:nth-child(52) {animation-delay: -3s;animation-duration: 10s; } 
.parallax > use:nth-child(53) {animation-delay: -4s;animation-duration: 13s;  }
.parallax > use:nth-child(54) {animation-delay: -5s;animation-duration: 20s;  }
.parallax > use:nth-child(55) {animation-delay: -7s;animation-duration: 12s;}
.parallax > use:nth-child(56) {animation-delay: -8s;animation-duration: 18s;}  
.parallax > use:nth-child(57) {animation-delay: -7s;animation-duration: 15s;}
.parallax > use:nth-child(58) {animation-delay: -8s;animation-duration: 5s;}  
.parallax > use:nth-child(59) {animation-delay: -9s;animation-duration: 14s;} 
.parallax > use:nth-child(60) {animation-delay: -7s;animation-duration: 12s;}
.parallax > use:nth-child(61) {animation-delay: -2s; animation-duration: 7s;}
.parallax > use:nth-child(62) {animation-delay: -3s;animation-duration: 10s; } 
.parallax > use:nth-child(63) {animation-delay: -4s;animation-duration: 13s;  }
.parallax > use:nth-child(64) {animation-delay: -5s;animation-duration: 20s;  }
.parallax > use:nth-child(65) {animation-delay: -7s;animation-duration: 12s;}
.parallax > use:nth-child(66) {animation-delay: -8s;animation-duration: 18s;}  
.parallax > use:nth-child(67) {animation-delay: -7s;animation-duration: 15s;}
.parallax > use:nth-child(68) {animation-delay: -8s;animation-duration: 5s;}  
.parallax > use:nth-child(69) {animation-delay: -9s;animation-duration: 14s;} 
.parallax > use:nth-child(70) {animation-delay: -7s;animation-duration: 12s;}
.parallax > use:nth-child(71) {animation-delay: -2s; animation-duration: 7s;}
.parallax > use:nth-child(72) {animation-delay: -3s;animation-duration: 10s; } 
.parallax > use:nth-child(73) {animation-delay: -4s;animation-duration: 13s;  }
.parallax > use:nth-child(74) {animation-delay: -5s;animation-duration: 20s;  }
.parallax > use:nth-child(75) {animation-delay: -7s;animation-duration: 12s;}
.parallax > use:nth-child(76) {animation-delay: -8s;animation-duration: 18s;}  
.parallax > use:nth-child(77) {animation-delay: -7s;animation-duration: 15s;}
.parallax > use:nth-child(78) {animation-delay: -8s;animation-duration: 5s;}  
.parallax > use:nth-child(79) {animation-delay: -9s;animation-duration: 14s;} 





  @keyframes move-forever {
    0% {
      transform: translate3d(-200px, 0, 0);
    }
    50% {
        transform: translate3d(0px, 0, 0);
      }
  
    100% {
      transform: translate3d(-200px, 0, 0);
    }
  }
  
  /* /* Shrinking for mobile
  @media (max-width: 768px) {
    .waves {
      height: 80px;
      min-height: 40px;
    }
    h1 {
      font-size: 24px;
    }
  }
   */
